<!--Slider-->
<div class="row">
	<div class="col-sm-12">
		<carousel>
			<slide>
				<img src="/assets/images/cover-Khai-Trương-Yên-Bái.png" style="display: block; width: 100%;">
			</slide>
			<slide>
				<img src="/assets/images/slide.jpg" alt="second slide" style="display: block; width: 100%;">
			</slide>
			<slide>
				<img src="/assets/images/a385fdb7-3997-4edd-aed0-5fa7f23f4178.jpg" alt="third slide" style="display: block; width: 100%; height: 561px;">
			</slide>
		</carousel>
	</div>
</div>

