<router-outlet></router-outlet>
<footer>
	<div class="row footer-music">
		<div class="col-sm-12">
			<div class="col-md-3 text-center text-md-left">
				<img style="width: 85%; height: auto; margin-bottom: 2rem; margin-top: 2rem"
					class="img-fluid mb-4" src="/assets/images/logo-tea.png">
				<p class="my-p">© 2018 VNG Corporation</p>
				<p class="my-p">Giay phep MXH so 314/GP-BTTTT.</p>
			</div>

			<div class="col-md-3">
				<h5 class="title">BAI DANG MOI NHAT</h5>

				<ul class="list-unstyled pt-3">
					<li><a href="#">Duis aute irure dolor in
							reprehe.</a> <br>
					<small>July 22, 2018</small></li>
					<li><a href="#">Excepteur sint occaecat.</a> <br>
					<small>July 22, 2018</small></li>
					<li><a href="#">Sunt in culpa qui officia.</a> <br>
					<small>July 22, 2018</small></li>
				</ul>
			</div>

			<div class="col-md-3">
				<h5 class="title">CAP NHAT MOI NHAT</h5>

				<ul class="list-unstyled pt-3">
					<li><a href="#">Duis aute irure dolor in
							reprehe.</a> <br>
					<small>July 22, 2018</small></li>
					<li><a href="#">Excepteur sint occaecat.</a> <br>
					<small>July 22, 2018</small></li>
					<li><a href="#">Sunt in culpa qui officia.</a> <br>
					<small>July 22, 2018</small></li>
				</ul>
			</div>

			<div class="col-md-3">
				<h5 class="title">LIEN HE</h5>
				<p class="my-p" style="line-height: 3rem">
					+84 163 629 7612 <br> +84 163 629 7613 <br> 50 Yen Bai,
					quan Hai Chau, thanh pho Da nang
				</p>
			</div>
		</div>
	</div>
</footer>